@font-face {
    font-family: 'CMU';
    src:url('cmu.serif-roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
    max-width: 100%;
    scroll-behavior:smooth
  }
html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
  }
section{
  scroll-snap-align: start;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 5rem;
}
body {
    font-family: 'CMU', Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-align: justify;
   background: white;
   position: absolute;
   /*linear-gradient(to bottom, white, lightgrey);*/
}

header {
    z-index: 4;
    background:scroll;
    background-color:NA;
    color: #000;
    left: 0;
    position: absolute;
    height:100vh;
    top: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    text-align: center;
    animation: slideUpHeader 1s ease-in-out 1s forwards;
}
@keyframes slideUpHeader {
    from {top: 40vh;}
    to {top: 0vh;}
}
.headerContainer{height:100%;width:100%;background-color: NA;z-index: 9999999999;}
.arrow-container{bottom:10%;display: flex; 
  justify-content: center; align-items: center;
  opacity: 0;
  animation: floating 2.5s infinite ease-in-out 2s;}
@keyframes floating {
  0% {transform: translate(0,  0%);opacity: 0.25;}
  50%  {transform: translate(0, 25%);opacity: 1;}
  100%   {transform: translate(0, -0%);opacity: 0.25;}
}
footer {
  background-color:#fff;
  color: #000;
  text-align: center;
  height: 5vh;
  bottom: 20vh; /* Center the header horizontally at 50% from the left */
  width:100%;
  position:fixed;
  align-content: center;
  text-align: center;
  justify-content: center;
  z-index: 10;
  animation: slideDownFooter 1s ease-in-out 1s forwards; 
}

@keyframes slideDownFooter {
    from {bottom: 20vh;}
    to {bottom: 0vh;}
}

.clear-image {
  opacity:0;
}
.fixedImage{position:fixed;}
/* Set initial state for all sections */
.scrollContainer{
  display: flex; flex-direction: row;
  height:100%;width:100%;
  background-color:NA;
}
.textScaleIn {
  font-size: xx-large;
  opacity: 0;    
  position: relative; 
  width: 22.5%; left:2.5%; top:0%;
  background-color: "NA"; 
  color:#000;
  margin-top: 0%; margin-bottom: 0%;
  text-align: center;   z-index: 3;
  display: flex; align-items:center; justify-content:center;
  transform:scale(0);
}
.introText{
  font-size: xx-large;
  opacity: 0;    
  position: relative;  
  left:2.5%; top:50%;
  background-color: "NA"; 
  color:#000;
  margin-top: 0%; margin-bottom: 0%;
  text-align: center;   z-index: 2;
  display: flex; align-items:center; justify-content:center;
  transform:scale(0);
  font-size: xx-large;
  height:50vh;
  width: 95%;
}
.introText.animate {
  animation: scaleIn 1s ease-in-out 0s forwards;}
  
.imageScaleIn, .imageFadeIn,.imageSlideUp {
  opacity: 0;
  z-index: 3;
  width: 77.5%;left:5%; top:25%;
  height:40vh;
  display: flex;
  justify-content: center; align-items:center;
  align-items: center; 
  justify-content: center; text-align: center; /* Center horizontally */
  }
  .imageSlideUp {
    transform: translateY(110%);}

.imageScaleIn{transform:scale(0);}
.imageSlideUp img,.imageScaleIn img,.imageFadeIn img {width: 100%;}
.imageScaleIn.animate,  .textScaleIn.animate{
  animation: scaleIn 1s ease-in-out 0s forwards;}
@keyframes scaleIn { to{opacity: 1;transform: scale(1);}}
.imageSlideUp.animate{
  animation: slideUp 1s ease-in-out 1s forwards;}
@keyframes slideUp { to{opacity: 1;transform: translateY(0%);}}

.imageFadeIn.animate  {animation: fadeIn 1s ease-in-out 2s forwards;}
@keyframes fadeIn { to{opacity: 1}}


@keyframes fade {0%, 100% {opacity: 0;}50% {opacity: 1;}}
@keyframes fadeIn{from{opacity:0;}to{opacity: 1;}}

.fading-image {animation: fade 2s ease-in-out 2s infinite;}
