@font-face {
    font-family: 'CMU';
    src:url('cmu.serif-roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.spacer{
height: 80vh;
background-color: transparent;
}
* {
    box-sizing: border-box;
    max-width: 100%;
    scroll-behavior:auto;
  }
html{
    scroll-behavior:auto;
    overflow-x: hidden;
  }


body {
    font-family: 'CMU', Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-align: justify;
   background: white;
   position: absolute;
   /*linear-gradient(to bottom, white, lightgrey);*/
}

header {
    z-index: 5;
    background:scroll;
    background-color:NA;
    color: #000;
    left: 0;
    position: absolute;
    height:100vh;
    top: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    text-align: center;
    animation: slideUpHeader 1s ease-in-out 1s forwards;
}
@keyframes slideUpHeader {
    from {top: 40vh;}
    to {top: 0vh;}
}
.headerContainer{height:100%;width:100%;background-color: NA;z-index: 9999999999;}
.arrow-container{bottom:10%;display: flex; 
  justify-content: center; align-items: center; z-index: 100;
  opacity: 0;
  animation: floating 2.5s infinite ease-in-out 2s;}
@keyframes floating {
  0% {transform: translate(0,  0%);opacity: 0.25;}
  50%  {transform: translate(0, 25%);opacity: 1;}
  100%   {transform: translate(0, -0%);opacity: 0.25;}
}

footer {
  background-color:#fff;
  color: #000;
  text-align: center;
  height: 5vh;
  bottom: 20vh; /* Center the header horizontally at 50% from the left */
  width:100%;
  position:fixed;
  display:flex;
  flex-direction: row;
  align-content: center;
  text-align: center;
  justify-content: center;
  z-index: 10;
  animation: slideDownFooter 1s ease-in-out 1s forwards; 
}

@keyframes slideDownFooter {
    from {bottom: 20vh;}
    to {bottom: 0vh;}
}

.link{
  background-color: white;color:black; text-decoration: none;
  }
  .linkz{
    background-color:white; color:grey;text-decoration: none;
    }
/* Set initial state for all sections */
.linkz:hover{background-color: white;color:black;text-decoration:underline;
}
.scrollContainer{
  display: flex; flex-direction: column;
  background-color:transparent;
}
.textScaleIn{
  font-size: xx-large;
  position: relative;  
  background-color: transparent; 
  color:#000;
  text-align: justify;   
  z-index: 2;
  top:0%;
  width:90%;
  left:5%;
  display: flex; align-items:center; justify-content:center;
  transform:scale(0.25);
  opacity: 0.5;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}
.sec3{text-align: left;align-items: normal;justify-content: left;}
.textScaleIn.animate {
  transform:scale(1); opacity:1;
}
  
.imageScaleIn {
  z-index: 3;
  left:5vw;  
  width: 90vw; top:25vh;
  height:40vh;
  display: flex;
  background-color: transparent;
  align-items: center; 
  justify-content: center; text-align: center;
  will-change: position,transform,opacity;
  transition: position 1s ease-in-out, transform 1.5s ease-in-out, opacity 1s ease-in-out;
  position: relative;
  transform:scale(0.25);
  opacity: 0;
}
.imageScaleIn img{width: 50%;}

.imageScaleIn.animate {
  transform: scale(1);  
  opacity: 1;
  position:fixed;
}

.imageFadeIn {
  z-index: 3;
  left:5vw;  
  width: 90vw; top:25vh;
  height:40vh;
  display: flex;
  background-color: transparent;
  align-items: center; 
  justify-content: center; text-align: center;
  will-change: position, opacity;
  transition: position 1s ease-in-out 1s, opacity 1s ease-in-out 1s;
  position: relative;  
  opacity: 0;
}
.imageFadeIn img {width: 50%;}
.imageFadeIn.animate  {opacity:1; position:fixed;}



.fading-image {animation: fade 2s ease-in-out 2s infinite;}